<div class="navbar navbar-expand-sm navbar-light navbar">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "DALL·E 2025-01-14.jpg" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="title">
      <h1>Julie VÉRAN</h1>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active fw-normal">
            <%= link_to "About me", "#", class: "nav-link" %>
          </li>
          <li class="nav-item btn btn-flat">
            <%= link_to "Contact me", "#", class: "nav-link text-decoration-none" %>
          </li>
      </ul>
    </div>

  </div>
</div>
