<section>
  <nav>
  <h1>Julie VERAN</h1>
  </nav>
  <img src="app/assets/images/profilepic.jpg", class: "avatar", alt: "avatar Julie" />
</section>

<main>
  <div class="card container">
    <h2>Who am I ?</h2>
    <p>Assistante polyvalente salariée pendant plus de 15 ans, j'ai également prêté main forte à des professionnels ayant besoin d'un soutien
      administratif, en tant que freelance, pendant 1 an 1/2 ! </p>
    <p>Après une formation intensive en développement web, je suis dorénavant conceptrice développeuse d’applications web (certificat RNCP39261).
      Je suis donc toute disposée à vous accompagner dans la création ou mise à jour de votre application web.</p>

    <h2>What do I do ?</h2>
    <p>Je </p>
    <p>Je suis continuellement en train de me perfectionner et d'apprendre de nouveaux langages. </p>

  </div>


  <a class="btn-blue" href="" target="_blank">Me contacter</a>

</main>
